.control {
  width: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #e9ecef;
  background-color: #fff;
  cursor: pointer;
  gap: 4px;
  transition: all 0.15s ease;
}

.control:hover {
  background-color: #0068e0;
}

.control:hover .label {
  color: #fff;
}

.control:hover .icon {
  color: #fff;
}

.control[data-expanded] {
  background-color: #f1f3f5;
}

.label {
  font-weight: 500;
  font-size: 18px;
  color: #0068e0;
}

.icon {
  transition: transform 150ms ease;
  transform: rotate(0deg);
  color: #0068e0;
}

[data-expanded] .icon {
  transform: rotate(180deg);
}
