* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3978d6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0068e0;
}

aside::-webkit-scrollbar {
  width: 6px;
}

aside::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

aside::-webkit-scrollbar-thumb {
  background: #3978d6;
  border-radius: 10px;
}

aside::-webkit-scrollbar-thumb:hover {
  background: #0068e0;
}

body {
  background-color: #f2f4f7;
}

@import 'tailwindcss';

@font-face {
  font-family: montserrat-r;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: montserrat-m;
  src: url(./assets/fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: montserrat-sb;
  src: url(./assets/fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: montserrat-b;
  src: url(./assets/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}

.montserrat-b {
  font-family: montserrat-b;
}

.montserrat-sb {
  font-family: montserrat-sb;
}

.montserrat-m {
  font-family: montserrat-m;
}

.montserrat-r {
  font-family: montserrat-r;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-body {
  display: flex;
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

aside {
  width: 268px !important;
  background: #0068e0;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.main-content {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
}

header {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  width: 154px;
  font-size: 16px;
  font-family: montserrat-b;
  color: #3d3c3c;
  text-decoration: none;
  margin-right: 20px;
}

header form {
  width: 400px;
  height: 46px;
  display: flex;
  gap: 10px;
  align-items: center !important;
  padding: 10px 14px;
  border: 1px solid #0068e0;
  border-radius: 10px;
}

.search-icon {
  width: 24px;
  height: 24px;
  color: #0068e0;
  border: none;
  font-size: 18px;
  background-color: transparent;
  font-family: montserrat-r;
}

header form input {
  width: 100%;
  height: 24px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: montserrat-r;
}

.sos-btn {
  padding: 8px;
  color: #0468dd;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.sos-btn:hover p {
  text-decoration: underline;
}

.sos-btn:hover {
  background-color: #0068e0;
  color: #fff !important;
}

.sos-btn:hover .icon2-stroke {
  stroke: white !important;
}

.icon2 {
  color: #0468dd;
}

.specials-btn {
  padding: 10px;
  font-size: 26px;
  color: #0068e0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.specials-btn:hover {
  color: white;
  background-color: #0068e0;
  border-radius: 5px;
}

.login-btn {
  padding: 8px 20px;
  background-color: #0068e0;
  color: white;
  font-family: montserrat-sb;
  border-radius: 7px;
  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.login-btn i {
  font-size: 22px;
}

.login-btn:hover {
  text-decoration: underline;
}

.re-call {
  padding-right: 6px;
  padding-left: 6px;
}

.reCall-btn {
  padding: 8px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.reCall-btn:hover {
  background-color: #0068e0;
}

.reCall-btn:hover i {
  color: white !important;
}

.reCall-btn:hover .phone-circle {
  border: 3px solid white !important;
}

.reCall-btn:hover p {
  color: #fff;
  text-decoration: underline;
}
.reCall-btn:hover h3 {
  color: #fff;
}

.carousel-card {
  width: 140px;
  height: 220px;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  border: 3px solid #31ac9c;
  padding: 5px !important;
}

.carousel-card img {
  border-radius: 15px;
  width: 98%;
  height: 99%;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.carousel-card::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  border-radius: 0 0 15px 15px;
  background: linear-gradient(to top, #3978d6 10%, #3e74c3 40%, rgba(44, 91, 163, 0) 100%);
  z-index: 3;
}

.carousel-card h4 {
  position: absolute;
  z-index: 4;
  color: #fff;
  font-size: 13px;
  font-family: montserrat-m;
  margin-bottom: 8px;
  margin-left: 5px;
}

.hero {
  margin-top: 35px;
  display: flex;
  gap: 35px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
}

.hero-content-left {
  width: 580px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 20px;
  background-color: rgb(210 228 250);
  border-radius: 10px;
  position: relative;
}

.hero-content-right {
  width: 580px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 22px;
  background-color: rgb(211 240 216);
  border-radius: 10px;
  position: relative;
}

.hero-content h1 {
  font-family: montserrat-b;
  font-size: 22px;
}

.hero-content h1 span {
  font-size: 18px;
  font-family: montserrat-r;
}

.hero-card-btn {
  width: 190px;
  height: 41px;
  background-color: #0068e0;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.industries {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 35px;
}

.industries-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.industries-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.industries-card {
  width: 380px;
  height: 200px;
  padding: 20px;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.251);
  transition: all 0.2s ease;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.industries-card:hover {
  border: 2px solid #0068e0;
}

.industries-card:hover .card-title {
  text-decoration: underline;
}

.card-title {
  font-size: 18px;
  font-family: montserrat-b;
  color: #000;
  transition: all 0.3s ease;
}

.card-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

.card-links p {
  font-size: 14px;
  color: #0068e0;
  cursor: pointer;
  font-family: montserrat-m;
  transition: all 0.2s ease;
  display: flex;
}

.card-links p:hover {
  text-decoration: underline;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-all {
  font-size: 14px;
  color: #0068e0;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  bottom: 16px;
  left: 20px;
}

.card-all:hover {
  text-decoration: underline;
}

.card-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 14px;
  bottom: 20px;
}

.card-icon img {
  width: 30px;
  height: 30px;
}

.allServices-btn {
  width: 170px;
  height: 24px;
  border: none;
  background-color: transparent;
  font-family: montserrat-m;
  font-size: 14px;
  color: #3f3f3f;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.allServices-btn:hover {
  color: #0068e0;
}

.industries-top h1 {
  font-size: 24px;
  color: #0068e0;
  font-family: montserrat-r;
}

.situations {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.situations h1 {
  color: #0068e0;
  font-size: 24px;
  font-family: montserrat-r;
  margin-top: 35px;
}

.situations-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.situations-card {
  height: 97px;
  padding: 16px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid rgb(0 0 0 / 8%);
  transition: all 0.3s ease;
}

.situations-card:hover {
  border: 2px solid #0068e0;
  transform: scale(1.03);
}

.situations-card img {
  width: 60px;
  height: 60px;
}

.situations-card h4 {
  font-size: 15px;
  color: #000;
  font-family: montserrat-m;
  margin-left: 10px;
}

.portal-services {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.portal-services h1 {
  font-size: 24px;
  color: #0068e0;
  font-family: montserrat-r, sans-serif;
  margin-bottom: 10px;
}

.portal-services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  row-gap: 25px;
  background-color: #ffffff;
  padding: 24px 30px;
  border-radius: 10px;
  border: 2px solid rgb(0 0 0 / 8%);
}

.service-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s ease;
}

.service-card:hover {
  transform: translateY(-3px);
}

.service-card:hover h3,
.service-card:hover p {
  text-decoration: underline;
}

.service-card svg {
  width: 32px;
  height: 32px;
  color: #0068e0;
  margin-bottom: 8px;
}

.service-card h3 {
  font-size: 16px;
  font-family: montserrat-b;
  color: #000;
  margin-bottom: 5px;
}

.service-card p {
  font-size: 14px;
  color: #202020;
  font-family: montserrat-m;
}

.statistics {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: #fff;
  margin-top: 35px;
  border-radius: 10px;
  gap: 30px;
  border: 2px solid rgb(0 0 0 / 8%);
}

.statistics-left {
  width: 32%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.statistics-left h1 {
  font-size: 30px;
  color: #202020;
  font-family: montserrat-b;
}

.statistics-left p {
  font-size: 15px;
  color: #000;
  font-family: montserrat-r;
}

.statistics-left button {
  width: 190px;
  height: 36px;
  background-color: #0068e0;
  color: #fff;
  border: none;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  font-family: montserrat-m;
}

.statistics-right {
  width: 50%;
  height: 300px;
  display: flex;
  gap: 15px;
}

.user-statistics {
  width: 250px;
  border-radius: 15px;
  padding: 20px;
  background-color: #9ba0a6cc;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.statistics-right-top {
  width: 300px;
  height: 50%;
  border-radius: 15px;
  padding: 20px;
  background-color: #71b164cc;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.statistics-right-bottom {
  width: 300px;
  height: 50%;
  border-radius: 15px;
  padding: 20px;
  background-color: #2a8dffcc;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.statistics-right h1 {
  font-family: montserrat-b;
  font-size: 40px;
  color: #fff;
  line-height: 1;
}

.statistics-right h1 span {
  font-size: 22px;
  font-family: montserrat-m;
}

.popular-services {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 35px;
}

.popular-services-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-services-top h1 {
  font-size: 24px;
  font-family: montserrat-r;
  color: #0068e0;
}

.popular-services-top button {
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.2s ease;
}

.popular-services-top button:hover {
  color: #0068e0;
}

.popular-services-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.popular-services-card {
  position: relative;
  padding: 12px 15px;
  background-color: #fff;
  border: 2px solid rgb(0 0 0 / 8%);
  border-radius: 10px;
  transition: all 0.2s ease;

  display: flex;
  align-items: center;
  gap: 12px;
}

.popular-services-card:hover {
  transform: scale(1.03);
  border: 2px solid #0068e0;
}

.service-badge {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 12px;
  color: #555;
}

.service-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #f3f5f8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.service-icon img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.service-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.service-name {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

.service-meta {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 13px;
  color: #666;
}

.meta-block {
  display: flex;
  align-items: center;
  gap: 4px;
}

.mobile-app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 35px;
  border-bottom: 2px dashed #0068e0;
  position: relative;
  padding-bottom: 70px;
}

.mobile-top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobile-top h1 {
  font-family: montserrat-b;
  font-size: 27px;
  margin-bottom: 8px;
  color: #000;
}

.mobile-top h2 {
  font-family: montserrat-b;
  font-size: 18px;
  color: #000;
}

.mobile-top h2 span {
  background: linear-gradient(45deg, #0068e0, #cd515c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
}

.mobile-top h4 {
  font-family: montserrat-m;
  font-size: 18px;
  margin-bottom: 25px;
  text-align: justify;
}

.app-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.app-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.app-list p {
  font-size: 16px;
  font-family: montserrat-m;
}

.mobile-app-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  margin-top: 20px;
}

.links-img {
  transition: all 0.3s ease;
}

.links-img:hover {
  transform: scale(1.07);
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px !important;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-top h2 {
  font-size: 17px;
  font-family: montserrat-m;
  padding-bottom: 12px;
  color: #354862;
}

.reaction-btn {
  padding: 8px 12px;
  border: 1px solid rgb(39 64 95);
  border-radius: 10px;
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
  color: #354862;
  transition: all 0.3s ease;
}

.reaction-btn:hover {
  background-color: #354862;
  color: #fff;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 40px;
}

.icon2.logo {
  width: 150px !important;
  height: 32px !important;
}

.footer-content h1 {
  font-size: 17px;
  color: #2f2f2f;
  font-family: montserrat-m;
}

.footer-content p {
  font-size: 12px;
  color: #2f2f2f;
  font-family: montserrat-m;
}

.footer-links {
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(156 163 175);
}

.footer-links h1 {
  font-family: montserrat-b;
  font-size: 14px;
  margin-bottom: 6px;
  color: #151515;
}

.footer-links ul a {
  color: #454545;
  font-family: montserrat-r;
  font-size: 14px;
}

.footer-links ul a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.aside-logo {
  width: 150px !important;
  height: 39px !important;
  margin: 0 auto;
  color: white !important;
  margin-top: 35px;
  margin-bottom: 32px;
}

.aside-logo svg {
  fill: #fff;
}

.aside-content {
  width: 100%;
  height: calc(100% - 106px);
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.aside-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.accordion-links a {
  font-size: 14px !important;
  font-family: montserrat-sb;
  color: #fff;
  letter-spacing: 0.3px;
  border-bottom: 1px solid rgba(229, 231, 235, 0.351);
  padding: 12.5px 0;
}

.accordion-links a svg {
  width: 23.2px !important;
  height: 23.2px !important;
}

.popular-card:hover {
  transform: scale(1.01);
}

.popular-card {
  transition: all 0.3s ease;
}

.popular-card:hover .popular-card-title {
  color: #0068e0;
}
